<div class="row">
    <div class="col-12">
      <p class="cuotas">ENVIO SIN CARGO EN TU COMPRA SUPERIOR A $1999 + 3 CUOTAS SIN INTERES</p>
    </div>
  </div>
<header class="container-fluid nav1">
      <div class="row logo-over " >
        <div class="col-6 logo-img">
          <img src="../images/recurso2.png" alt="logo" class="logo">
         
      </div>

        <div class="col-6">
     <ul class="login">

        <li><a href="/login"><i class="fas fa-user"></i> LOGIN</a></li>
        <li><a href="/register"><i class="far fa-paper-plane"></i> REGISTRATE</a></li>
      
     </ul>
        </div>
        
      </div>
      <div class="row">
        <div class="col-3 dropdown-bars">
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-bars"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="/mujer">MUJERES</a>
                  <a class="dropdown-item" href="/hombre">HOMBRES</a>
                  <a class="dropdown-item" href="/nenes">NIÑOS</a>
                  <a class="dropdown-item" href="/onuevo">NUEVO</a>
                  <a class="dropdown-item" href="/sale">SALE!</a>
                </div>
              </div>
            </div> 
                <ul class="col-sm-8 col-lg-6  nav-texto enlaces">
                <li><a href="/hombre">MUJERES</a></li>
                <li><a href="/mujer">HOMBRES</a></li>
                <li><a href="/nenes">NIÑOS</a></li>
                <li><a href="/lonuevo">NUEVO</a></li>
                <li><a href="/sale">SALE!</a></li>
                 </ul>
                  <nav class="col-9 col-sm-4 col-lg-6 search-bar">
                      <form role="search" class="search-form">
                          <label>
                             <input type="search" class="search"/>
                         </label>
                          <buton type="submit" class="boton-search"><i class="fas fa-search"></i></button>
                      </form>
                    </nav> 
               
      </div>
</header>