<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link href="https://fonts.googleapis.com/css?family=Prompt&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
        <title>SportwearClub</title>
        
    </head>
<body>
    
   <header>

      <div class="envio">ENVIO SIN CARGO EN TU COMPRA SUPERIOR A $1999 + 3 CUOTAS SIN INTERES</div>
  
     <div class ="container">
        
      
        <div class="logo">
           <img src= "../images/SportswearClubLogo.jpeg" alt="logo">
         </div>
        
  
         <ul class="login">
           <li><a href="/login"><i class="fas fa-user"></i> Log in</a></li>
           <li><a href="/register"><i class="far fa-paper-plane"></i> Registrate</a></li>
        </ul>
  
  
         <nav class="busqueda">
   
           <form role="search">
               <label>
                  <input type="search" />
              </label>
               <buton type="submit"><i class="fas fa-search"></i></button>
           </form>
           
         </nav> 
  
  
  
  
       <div class="links">
        <ul class="enlaces"></ul>
        <li><a href="/Hombre"><i class="fas fa-medal"></i>Hombre </a></li>
        <li><a href="/Mujer"><i class="fas fa-medal"></i>Mujer</a></li>
        <li><a href="/Nenes"><i class="fas fa-medal"></i>Niños</a></li>
        <li><a href="/Lonuevo"><i class="fas fa-medal"></i>Nuevo</a></li>
        <li><a href="/Sale"><i class="fas fa-medal"></i>Sale!</a></li>
         </ul>
       </div>
          
  
        
     </div>
     </header>
 <section>

<p class="title" >PREGUNTAS FRECUENTES</p>   
<p class="question"><i class="far fa-question-circle"></i>  ¿Cómo encuentro el producto que estoy buscando? </p>
<p class="answer">Si necesitas ayuda para encontrar un producto, utiliza nuestro buscador de productos situado en la parte superior de nuestra página. Solo tienes que introducir una o más palabras clave o un número de artículo en el campo de búsqueda y hacer clic en "IR". En la página se mostrarán los resultados de la búsqueda acompañados de links a productos o grupos de productos. Puedes redefinir tu búsqueda seleccionando varias categorías en la parte izquierda de la página de los resultados de búsqueda, por ejemplo, sexo, deporte, precio, colección o incluso color.</p>
<p class="question"> <i class="far fa-question-circle"></i>  ¿Como puedo obtener mayor información de las tecnologías en productos?</p>
<p class ="answer">Al momento de seleccionar cualquiera de los productos disponibles en nuestro portal te ofrecemos la descripción técnica y modo de uso correcto de cada una de las tecnologías con la que cuenta el artículo de tu interés.</p>
<p class="question"><i class="far fa-question-circle"></i>  ¿Por qué si vivo en alguna provincia debo esperar más tiempo para la entrega de mi pedido?</p>
<p class="answer">A pesar de que nuestro socio logístico iniciara el proceso de despacho a la brevedad posible las entregas a destinos con baja población y/o accesibilidad limitada pueden tardar más tiempo de lo especificado.</p>
<p class="question"><i class="far fa-question-circle"></i>  ¿Cuál es el monto límite de compras en la tienda online?</p>
<p class="answer">El límite de compras es de $10,000.00 de pesos y hasta un máximo de 10 piezas por artículo.</p>
<p class="question"><i class="far fa-question-circle"></i>  ¿Puedo cancelar mi pedido?</p>
<p class="answer">Lamentablemente no es posible solicitar la cancelación de un pedido una vez que hayas realizado el pago del mismo, una vez recibido el pedido, puedes solicitar el cambio del artículo directamente en alguna de nuestras tiendas físicas exclusivamente adidas o bien realizar el cambio del producto vía online (cumpliendo las políticas de cambio en tienda física).
También puede solicitar el trámite de devolución (cumpliendo las políticas de devolución).</p>

</section>



 <footer>

    
<footer>

   <div class="pie">

      
         
         <div class="redes"style="font-size: 18px">
            <a href="https://www.facebook.com"> <i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com"> <i class="fab fa-instagram"></i></a>
       </div>

      <div class="pagos">
                  
         <div class="metodos"style="font-size: 18px";>
            
            <i class="fab fa-cc-visa"></i>
            <i class="fab fa-cc-mastercard"></i>
            <i class="fab fa-cc-amex"></i>
            <i class="fab fa-handshake-alt"></i>
        
         </div>  
      </div>

       <div class="company">
          <ul>
              <a href="./Nosotros">COMPAÑIA</a>
                  <li>Quienes somos</li>
                  <li>Sucursales</li>
                  <li>Trabaja con nosotros</li>
            </ul>
      </div>

       <div class="help">
          <ul>
                <a href="./FAQ">PREGUNTAS FRECUENTES</a>
                  <li>Pagos</li>
                  <li>Envios</li>
                  <li>Devolucion</li>
      </div>
   

</footer>

     </body>
     </html>
     
    