<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Prompt&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <title>SportwearClub</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            
</head>
<body>
   
    
       
   <header>

         <div class="alert alert-dark" role="alert">
             ENVIO SIN CARGO EN TU COMPRA SUPERIOR A $1999 + 3 CUOTAS SIN INTERES
         </div>
   
      <div class ="container">
   
         <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <a class="navbar-brand" href=../index><img src= "../images/SportswearClubLogo.jpeg" alt="logo"></a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
       
         <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
           <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
             <li class="nav-item active">
               <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="/Hombre">Hombre</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="/Mujer">Mujer</a>
             </li>
             <li>
               <a class="nav-link" href="/Nenes">Niños</a>
             </li>
             <li>
               <a class="nav-link" href="/sale">Sale</a>
             </li>
           </ul>
           <form class="form-inline my-2 my-lg-0">
             <input class="form-control mr-sm-2" type="search" placeholder="Search">
             <button class="btn btn-dark" type="submit"><i class="fas fa-search"></i></button>
           </form>
           
         </div>
         
       </nav>
     <div class="login">
       <button class="btn btn-dark" type="submit" href="/login">Log in</i></button>
     </div>
   
          </div>
     
   
      </header>

<section>

        <h1 class="titular">REGISTRATE</h1>

    <div class="registro">
   
   
    <form action="validar.php" method="POST">

       <p>
         <label for="nombre">Nombre: </label> 
         <input type="text" name="nombre" id="nombre"> 
      </p>

      <p>
        <label for="apellido">Apellido: </label> 
        <input type="text" name="apellido" id="apellido"> 
      </p>

      <p>
        <label for="nacimiento">Fecha de nacimiento: </label> 
        <input type="date" name="nacimiento" id="nacimiento"> 
      </p>
    
      <p>
            <label for="pais">Pais de residencia: </label> 
           <select name="pais">
                <option value="AR"> Argentina</option>
                <option value="BO">Bolivia</option>
                <option value="BR">Brasil</option>
                <option value="CL">Chile</option>
                <option value="Colombia">Colombia</option>
                <option value="EC">Ecuador</option>
                <option value="MX">Mexico</option>
                <option value="PY"> Paraguay</option>
                <option value="UY"> Uruguay</option>
                <option value="VZ">Venezuela</option>
                <option value ="OTH">Otros</option>
           </select> 
      </p>

      <p>
            <label for="ciudad">Ciudad de residencia: </label> 
            <input type="text" name="ciudad" id="ciudad"> 
    </p>

    <p>
            <label for="mail">Correo electronico: </label> 
            <input type="email" name="mail" id="mail"> 
    </p>

    <p>
            <label for="pass">Contraseña: </label> 
            <input type="password" name="pass" id="pass"> 
    </p>

    <p>
            <input type="checkbox" name="cond" id="cond">
            <label for="cond"> He leido y acepto los terminos y condiciones </label> 
            
    </p>

    <p>
            <input type="checkbox" name="news" id="news">
            <label for="news"> Me gustaria recibir el newsletter con las novedades de SportwearClub </label> 
            
    </p>


    <button type="submit" class="boton">Enviar</button>
    <button type="reset" class="boton">Cancelar</button>

    </form>


    </div>

</section>




 <footer>

   <div class="pie">

      
         
         <div class="redes"style="font-size: 18px">
            <a href="https://www.facebook.com"> <i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com"> <i class="fab fa-instagram"></i></a>
       </div>

      <div class="pagos">
                  
         <div class="metodos"style="font-size: 18px";>
            
            <i class="fab fa-cc-visa"></i>
            <i class="fab fa-cc-mastercard"></i>
            <i class="fab fa-cc-amex"></i>
            <i class="fab fa-handshake-alt"></i>
        
         </div>  
      </div>

       <div class="company">
          <ul>
              <a href="./Nosotros">COMPAÑIA</a>
                  <li>Quienes somos</li>
                  <li>Sucursales</li>
                  <li>Trabaja con nosotros</li>
            </ul>
      </div>

       <div class="help">
          <ul>
                <a href="./FAQ">PREGUNTAS FRECUENTES</a>
                  <li>Pagos</li>
                  <li>Envios</li>
                  <li>Devolucion</li>
      </div>
   

</footer>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
